body {
    background-color: #f5f5f5;
}

body>.grid {
    height: 100%;
}

.column {
    max-width: 800px;
}

.ui.card {
    width: 430px;
}

.ui.input {
    width: 90%;
}

.description {
    padding-top: 1rem;
}